<%= provide(:title, 'Lists') %>

<div class="row">
  <div class="lists text-center col-md-6 col-md-offset-3">
    <h1>Todo Lists</h1>
    
    <hr>
    <% @lists.each do |list| %>
      <ul><%= link_to list.title, list %></ul>
      <hr>
    <% end %>
    
    <p class="new_list">
      <%= link_to "New Todo List", new_list_path %>
    </p>
  </div>
</div>
