<%= provide(:title, 'New Todo List') %>
<%= provide(:button_text, 'Create List') %>

<div class="row">
  <div class="lists text-center col-md-6 col-md-offset-3">
    <h1>New Todo List</h1>
    
    <div class="forms">
      <%= render 'form' %>
    </div>
    
    <br />
    <p>
      <%= link_to "Back", root_path %>
    </p>
  </div>
</div>
