@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


$black-medium-light: #2d2d2d;
$gray-light: #efefef;
$blue-bright: #1f5cf4;
$purple-lilac: #ab5e98;
$blue-purple: #5845ec;


/* universal */

body, html {
  height: 100%;
  font-family: "system-ui", sans-serif;
  color: $gray-light;
  background: linear-gradient($purple-lilac, $blue-purple);
}

body {
  padding: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $gray-light;
}

h1 {
  font-size: 2.3em;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
}

p {
  font-size: 1.3em;
  line-height: 1.7em;
}

ul {
  font-size: 1.6em;
  padding: 3px 0;
}

a {
  color: $blue-bright;
}

a:focus, a:hover, a:active, a:visited {
  position: relative;
  background: transparent;
  color: $blue-bright;
}

.new_list {
  font-weight: bold;
}

.lists {
  background: rgba(239, 239, 239, .3);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: .7rem;
  padding: 8px 10px;
}

.edit_links {
  padding-bottom: 10px;
}


/* items */

.items {
  font-size: 1.3em;
}

.transparent {
  opacity: 0.45;
}

.fa-trash {
  float: right;
}


/* forms */

.forms {
  font-size: 1.3em;
  text-align: center;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: $blue-bright !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    list-style: none;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
